html,
body {
    font-family: 'Raleway', serif;
    color: #666;
    text-align: center;
}

#navbar{
    color: #071925;
}

.navbarlinks{
    color: #071925;
}

#bg{
    background-color: #fff;
    height: 418px;
    background-image: url(../assets/BG1.jpg);
    width: 100%;
    margin: 0 auto;
}

.bg-content{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 135px;
    font-size: 85px;
}

#desc{
    color: #c0c0c0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1px;
    font-size: 15px;
}
