html,
body {
    font-family: 'Raleway', serif;
    color: #666;
    text-align: center;
}

#navbar{
    color: #071925;
}

.navbarlinks{
    color: #071925;
}

#bg{
    background-color: #fff;
    height: 418px;
    background-image: url(../assets/BG1.jpg);
    width: 100%;
}